
<form>
<div class="form-group">
	<label for="marketHeader">Market Moto:</label>
	<textarea class="form-control" name="marketHeader" rows="5" cols="20" ng-model="marketcontent"></textarea>
	
	<label for="marketAddress">Market Address:</label>
	<textarea class="form-control" ng-model="marketaddress" rows="5" cols="20"></textarea>

	<label for="marketPictuer">market_pictuer:</label>
	<input class="form-control" type="file" file-input="files" multiple><br>
				<li ng-repeat="file in files">		{{file.name}}
				</li>
			<button class="btn btn-danger" ng-click="postMarket()">Post</button>
</div>
</form>